# Rails
.bundle
config/database.yml

# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Documentation
doc/
doc/api
doc/app
.yardoc
.yardopts
coverage

# Public Uploads
public/system/*
public/themes/*

# Public Cache
public/javascripts/cache
public/stylesheets/cache

# Vendor Cache
vendor/cache

# OS
.DS_Store
Thumbs.db

# Misc
.cache
.settings
.tmproj
*.esproj

# Sublime
*.sublime-project
*.sublime-workspace

# NetBeans
nbproject

# Eclipse
.project

# Vim
*.swp
*.swo

# RubyMine
.idea

# Dreamweaver
_notes
dwsync.xml

# E-texteditor
.eprj

# Redcar
.redcar

# Komodo
*.komodoproject
.komodotools

# sass
.sass-cache
.sass-cache/*

#rvm
.rvmrc
.rvmrc.*
.ruby-version
.ruby-gemset

# Rubinius
*.rbc

# Extensions to ignore
*.diff
*.err
*.orig
*.log
*.rej
*.vi
*~

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
bin/

# Local
scratch.*
*.TODO
graveyard.sass
public/source
vendor/source
local_env.yml
