/[if lt IE 7 ]
  %p.chromeframe
    Your browser is
    %em ancient!
    %a{:href => "http://browsehappy.com/"} Upgrade to a different browser or
    %a{:href => "http://www.google.com/chromeframe/?redirect=true"} install Google Chrome Frame to experience this site.
