%nav{:role => "navigation"}
  %ul#nav
    %li
      = link_to 'link 1', root_path, :title => ''
    %li
      = link_to 'Link 2', root_path, :title => ''
    %li
      = link_to 'Link 3', root_path, :title => ''
    %li
      = link_to 'Link 4', root_path, :title => ''
