%footer{role: 'contentinfo'}
  %ul
    %li
      = link_to 'About', about_path, title: ''
    %li
      = link_to 'Terms of Use', terms_path, title: ''
    %li
      = link_to 'Privacy', privacy_path, title: ''
    %li
      = link_to 'Contact', contact_path, title: ''
  %p.copyright &copy; XXX 2015
