%nav{role: "navigation"}
  %ul#nav
    %li
      = link_to 'link 1', '/', :title => ''
    %li
      = link_to 'Link 2', '/', :title => ''
    %li
      = link_to 'Link 3', '/', :title => ''
    %li
      = link_to 'Link 4', '/', :title => ''
