-# Uncomment if you plan to use google CDN and remove from manifest, otherwise delete.
-# %script{src: 'https://code.jquery.com/jquery-1.12.2.min.js'}
-# :javascript
-#   window.jQuery || document.write('<script src="assets/jquery-1.12.2.min.js"><\/script>')

= javascript_include_tag 'application', 'data-turbolinks-track' => true

-# :javascript
-#   window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
-#   ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
-# %script{:async => "", :defer => "defer", :src => "https://www.google-analytics.com/analytics.js"}
